h2 {
	color: #F78F58;
    border-bottom: 2px solid;
    width: 200px;
}
h3 {
	color: #278BD2;
}
strong {
    display: inline-block;
    padding: 1px 5px !important;
    color: #E02856;
    background-color: #F7F7F7;
    font-weight: normal;
    margin: 1px 0;
    border-radius: 5px;
    font-family: "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace;
}
pre {
    margin: 0 !important;
}
img {
    width: 600px;
}
